@page
@model HexModel
@{
    ViewData["Title"] = "Files";
}

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">Uploaded Files</div>
        <div class="panel-body">
            <p>Please select a file from the list below</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
            @foreach (var file in Model.files.Where(item => item.Name != "..."))
            {
                <li class="list-group-item"><a href="/UploadedFile/@file.Name/1">@file.Name</a></li>
            }

        </ul>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-info">
        <div class="panel-heading">Upload</div>
        <div class="panel-body">
            <p>Use this form to upload new files</p>
            <form enctype="multipart/form-data" method="post">
                <div class="col-xs-8">
                    <input asp-for="UploadFile" class="form-control" />
                </div>
                <div class="col-xs-4">
                    <input type="submit" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

