@page
@model IndexModel
@{
    ViewData["Title"] = "Sandbox Home";
}
<h3 class="page-header">Online Projects - used for self learning</h3>
<div class="col-xs-12">
    <div class="col-xs-6 col-md-2">
        <a asp-page="/Calculator" class="card-link">
            <div class="panel panel-info">
                <div class="panel-heading">Calculator</div>
                <div class="panel-body">
                    C# Based calculator. Learning Excercise.
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-6 col-md-2">
        <a asp-page="/Hex" class="card-link">
            <div class="panel panel-info">
                <div class="panel-heading">Online Hex Editor</div>
                <div class="panel-body">
                    Upload, Edit, Download.
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-6 col-md-2">
        <a asp-page="/MessageBox/Index" class="card-link">
            <div class="panel panel-info">
                <div class="panel-heading">Message Box</div>
                <div class="panel-body">
                    Basic Example / Test of creating and using a database.
                </div>
            </div>
        </a>
    </div>

    <span class="clearfix" />
</div>

<style>
    .card-link {
        text-decoration: none !important;
        color: black;
    }

        .card-link .panel-body:hover {
            background-color: lightgray;
        }
</style>
